body {
   background: radial-gradient(rgba(66, 101, 255, 0.704), rgba(29, 22, 168, 0.702),rgba(40, 6, 119, 0.702), rgba(40, 0, 57, 0.665), rgba(79, 182, 255, 0.665))
}

p {
    font-family: 'Nanum Brush Script', 'Tulpen One', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Shrikhand', 'Nanum Brush Script', 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    margin-top: 10%;
}

#broken {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#broken:hover {
    border-style: inset;
    border-width: 10px;
    border-color: rgba(93, 0, 0, 0.783);
}