body {
   background: radial-gradient(rgba(66, 101, 255, 0.704), rgba(29, 22, 168, 0.702),rgba(40, 6, 119, 0.702), rgba(40, 0, 57, 0.665), rgba(79, 182, 255, 0.665))
}

p {
    font-family: 'Nanum Brush Script', 'Tulpen One', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Shrikhand', 'Tulpen One', 'Times New Roman', Times, serif;
    font-size: 45px;
    color: rgb(0, 0, 0);
    text-align: center;
}

h2 {
    font-family: 'Tulpen One', 'Nanum Brush Script', 'Times New Roman', Times, serif;
    font-size: 75px;
    margin-left: 12%;
    margin-bottom: 10%;
    float: left;
}

h2:hover {
    font-size: 90px;
    color: red;
}

h3 {
    font-family: 'Tulpen One', 'Nanum Brush Script', 'Times New Roman', Times, serif;
    font-size: 75px;
    margin-right: 13%;
    margin-bottom: 10%;
    float: right;
}

h3:hover {
    font-size: 90px;
    color: red;
}