body {
    background: rgba(122, 1, 122, 0.601);
}

p {
    font-family: 'Nanum Brush Script', 'Tulpen One', 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#proposal {
    width: 35%;
    float: right;
}