body {
    background: radial-gradient(rgba(249, 255, 66, 0.704), rgba(168, 10, 144, 0.702),rgba(119, 6, 102, 0.702), rgba(180, 22, 22, 0.665), rgba(119, 8, 8, 0.665))
}

#ring {
    width: 100%;
    align-content: center;
}